<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>curriculum</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body>

<div class="navbar">
  <a class="active" href="#home"><i class="fa fa-home"></i></a>
  <a href="#home"><i class="fa fa-home"></i></a>
  <a href="#news"><i class="fa fa-newspaper-o"></i></a>
  <a href="#contact"><i class="fa fa-envelope"></i></a>
  <a href="#about"><i class="fa fa-info-circle"></i></a>
  <a href="#new"><i class="fa fa-plus-circle"></i></a>  
</div>

<div style="padding-top:80px;margin-left:auto;margin-right:auto;text-align:center;" class="container">
    <h1>education  </h1>
    <img src="./img/FH5.jpeg" alt="Imagen" class="imagen">
</div>

</body>
</html>