<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>curriculum</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body>

<div class="navbar">
  <a href="../../index.html"><i class="fa fa-home"></i></a>
  <a href="../en/index_en.html"><i class="fa fa-home"></i></a>
  <a href="../estudis.html"><i class="fa fa-newspaper-o"></i></a>
  <a href="../en/education.html"><i class="fa fa-newspaper-o"></i></a>
  <a href="../experiencia.html"><i class="fa fa-info-circle"></i></a>
  <a href="#circle" class="active"> <i class="fa fa-info-circle"></i></a>
</div>

<div style="padding-top:80px;margin-left:auto;margin-right:auto;text-align:center;" class="container">
    <h1>Work experience  </h1>
</div>
<center>
  <li><b>FCT company internships:</b> Escola Balaguer (2023-Present)</li>
  <p>At present I am doing the FCT company practices, which I carry out from 9am to 1pm. </p>
  <p>I am in charge of keeping the machines up to date and I install and configure operating systems, I also solve problems that the staff has.</p>
  <IFRAME SRC = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.2899169870198!2d2.11304930000001!3d41.367785500001!2m3!1f0!2f0!3f0!3f0!3m2! 1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498e434a03053%3A0xd54e487a43b07808!2sEscuela%20Balaguer!5e0!3m2!1ses!2ses!4v1683735525476!5m2!1s en!2ses" width="600" height="450" style="border :0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>
</body>
</html>