<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>curriculum</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body>

  <div class="navbar">
    <a href="../../index.html"><i class="fa fa-home"></i></a>
    <a href="#home" class="active"><i class="fa fa-home"></i></a>
    <a href="../estudis.html"><i class="fa fa-newspaper-o"></i></a>
    <a href="../en/education.html"><i class="fa fa-newspaper-o"></i></a>
    <a href="../experiencia.html"><i class="fa fa-info-circle"></i></a>
    <a href="../en/experience.html"><i class="fa fa-info-circle"></i></a>
  </div>
<center>
  <div style="padding-top:80px;margin-left:auto;margin-right:auto;text-align:center;" class="container">
       <h1>My resume </h1>
       <img src="../../img/FH5.jpeg" alt="Image" class="image">
  </div>
  <div class="col">
  <h1>Personal data and contact information</h1>
  <li><b>Name:</b> Juan Carlos Izquierdo Gómez</li>
  <p></p>
  <li><b>Current age:</b> 17 years old</li>
  <p></p>
  <li><b>Place of residence:</b> L'Hospitalet de Llobregat, Barcelona</li>
  <p></p>
  <li><b>Personal telephone number:</b> (+34) 603 22 34 14</li>
  <p></p>
  <li><b>Professional email:</b> 100007813.joan23@fje.edu</li>
     <h2>Who am I?</h2>
     <p>My name is Juan Carlos Izquierdo and I am a 17-year-old boy. I live in Hospitalet de Llobregat, next to Barcelona. I am a shy boy, but ordered. I like the world of technology and videogames.</p>
     <p></p>
     <h2>What can you find on this website?</h2>
     <p>You will find all my personal and professional information that you should know if you need to know me.</p>
    <p>In addition, you can also find personal information such as where I live or what I stand out for, in addition to learning a little more about my hobbies. Regarding professional information, you will find professional data, the places where I have studied and my professional skills.</p>
     <p></p>
     <p></p>
     <p></p>
  </div>
  <div class="col">
  <h2>Test Map</h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1259.2942316866886!2d2.1080247252313593!3d41.34967320150101!2m3!1f0!2f0!3f0!3m 2! 1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1679663 385771!5m2!1ses!2sess" width="600" height=" 400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>
  </center>
  </body>
</body>
</html>