<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>curriculum</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body>

<div class="navbar">
  <a href="../index.html"><i class="fa fa-home"></i></a>
  <a href="../view/en/index_en.html"><i class="fa fa-home"></i></a>
  <a href="../view/estudis.html"><i class="fa fa-newspaper-o"></i></a>
  <a href="../view/en/education.html"><i class="fa fa-newspaper-o"></i></a>
  <a href="#circle" class="active"><i class="fa fa-info-circle"></i></a>
  <a href="../view/en/experience.html"> <i class="fa fa-info-circle"></i></a>
</div>

<div style="padding-top:80px;margin-left:auto;margin-right:auto;text-align:center;" class="container">
    <h1>Experiencia laboral</h1>
</div>
<center>
<li><b>Prácticas de empresa FCT:</b> Escola Balaguer (2023-Actualidad)</li>
<p>En la actualidad me encuentro realizando las prácticas de empresa FCT, las cuales realizo de 9h a 13h.  </p>
<p>Me encargo de mantener el al día las máquinas y realizo la instalación y configuración de sistemas operativos, además resuelvo problemas que el personal tiene.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.2899169870198!2d2.11304930000001!3d41.36778550000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498e434a03053%3A0xd54e487a43b07808!2sEscuela%20Balaguer!5e0!3m2!1ses!2ses!4v1683735525476!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
</body>
</html>